.home{
    padding-top: 100px;

    @include media($medium-screen-up){
        padding-top: 0;
    }

}

nav {
    background-color: rgba(255,255,255,0.92);
    display: block;
    width: 100%;
    height: $nav-height;
    margin: 0 auto;
    position: fixed;
    top: 0;
    z-index: 3;
    

    @include media($medium-screen-up){
        width: 80%;
        left: 10%;
        height: 120px;
    }


    .logo-wrapper{
        width:55%;
        display: inline-block;
        padding-top: 2%;
        
        @include media($medium-screen-up){
            width: 30%;
        }
        @include media($large-screen-up){ 
            width:20%;
        }

    }

    ul{
        display: inline-block;
        width: 30%;
        text-align: right;
        vertical-align: top;
        padding-top: 3%;

          @include media($medium-screen-up){
            width: 60%;
        }
        @include media($large-screen-up){ 
            width:70%;
        }

        li{
            text-transform: uppercase;
            
            font-size: 0.8em;
            padding-right: 5%;
            font-weight: bold;
            display: block;

            a{
               color: $green; 
            }

            @include media($medium-screen-up){
            font-size: 1em; 
            }
            @include media($large-screen-up){ 
                font-size: 1.2em;
                display: inline-block;            
            }
        }
    }
}

.center{
    text-align: center;
    margin: 0 auto;
    display: block;
    background-color: white;
    width: 30%;

    @include media($medium-screen-up){
       width: 20%; 
    }

}

.picture-gradient{
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.29) 0, rgba(2, 2, 2, 0.87) 100%);
    
}

.picture-gradient.light{
  background:linear-gradient(to bottom, rgba(0, 0, 0, 0.29) 0, rgba(116, 109, 109, 0.87) 100%);
}
.landing{

    background: url(/assets/landing.jpeg) no-repeat bottom center scroll; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   width: 100%;
   position: relative;
   text-align: center;
   z-index: 0;

@include media($medium-screen-up){
    background: url(/assets/landing.jpeg) no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

   .main {
  border: 2px solid white;
  background-color: transparent;
  z-index: 2; 
  position: relative;
  margin-bottom: 20%;
  font-size: 1em;
  text-transform: uppercase;

  @include media($medium-screen-up){
    border: 3px solid white;
    font-size: 1.5em;
  }

  &:hover,
      &:focus {
        background-color: shade($action-color, 20%);
    }

  a {
    color: white;
      &:hover,
      &:focus {
        background-color: shade($action-color, 20%);
        color: #fff;
    }
  }

}

   h1 {
    z-index: 2;
    font-family: $heading-font-family;
    font-size: 2em;
    padding-top: 40%;
    color: white;
    position: relative;

     @include media($medium-screen-up){
        padding-top: 17%;
        font-size: 3em;
        }
   }

}

.right{
  float: none;
 @include media($large-screen-up){ 
    float: right;
  }
}

.left{
 float: none;
 @include media($large-screen-up){ 
  float: left;
  }
}

.two-pane-explainer {

  .short{

    float: none;
    display: block;
    width: 100%;
    padding: 7%;
    background-color: $green;  
  
    @include media($large-screen-up){ 
    float: left;
    width: 30%;
    height: 200px;
    padding: 0;
    overflow: hidden;
  }

    .title{
      font-family: $heading-font-family;
      width: 70%;
      text-align: center;
      margin: 0 auto;
      color: white;
      font-size: 1.5em;
      text-align: center;
      vertical-align: middle;
      padding-top: 0;
      font-style: italic;

      @include media($large-screen-up){ 
        padding-top: 16%;
        width: 80%;
        font-size: 1.7em;
        }
      }
    }

  .long{
    float: none;
    display: block;
    width: 100%;
    padding: 0%;
    background-color: $blue;
    font-size: 1.2em;
    
    @include media($large-screen-up){
      padding: 10%;
      overflow:hidden;
      height: 200px;
      float: right;
    width: 70%;
    padding: 0;
    font-size: 1.5rem;
  }

    p{
      padding: 6% 10%;
      color: white;
      line-height: 1.6;

       
    }
  }
}

.services {
   background: url(/assets/services.jpeg) no-repeat center center scroll;   
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   width: 100%;
   position: relative;
   text-align: center;
   z-index: 0;
   overflow: hidden;

   @include media($medium-screen-up){
    background: url(/assets/services.jpeg) no-repeat center center fixed; 
       -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   }

   h2{
    color: white;
    text-transform: uppercase;
    font-size: 2.5em;
    text-align: center;
    padding-top: 9%;
    position: relative;
    z-index: 2;
   }

  h3{
    color: white;
    font-size: 1.5em;
    font-family: $base-font-family;
    z-index: 2;
    position: relative;

  }

  p{
    color: white;
    font-size: 1.2em;
    padding-bottom: 7%;
    z-index: 2;
    position: relative;
  }

.service {

  display: block;
  width: 100%;
   padding: 5% 4%;
  text-align: center;
  z-index:2;

  @include media($large-screen-up){
  width: 29%;
  display: inline-block;
  }

  .service-icon {

    border: 2px white;
    border-radius: 50%;
    color: white;
     z-index: 2;
      position: relative;
      padding-bottom: 2%;

    .fa-users, .fa-line-chart, .fa-hashtag, .fa-building, .fa-user-plus{
      color: white;
      font-size: 40px;

    }
    }
}
}



.get-in-touch{
     background-color: $green; 
     padding: 7%;
     overflow: hidden;
     text-align:center;
     margin: 0 auto;
    h2{
        color: white;
        text-transform: uppercase;
        font-size: 2.5em;
    }
   
}

.profile {
        width: 100%;
        padding: 3% 5%;
         @include media($large-screen-up){
            width: 49%;
            padding: 1% 5%;
         }


         h2, h3, p{
            color: $blue;
         }

         h2{
            font-size: 2em;
         }

         h3{
            text-align: center;
         }

    }

    .profile.center{
      background: #49CEBE;
    }

.bio-alex{
   width: 100%;
   position: relative;
   z-index: 0;
   background: $blue; 
   overflow: hidden;  

   .picture-gradient{
    display: none;

    @include media($large-screen-up){
    display: block;
    }
   }

@include media($large-screen-up){
   background: url(/assets/alex.jpg) no-repeat top center fixed;   
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
  }

  .mobile-photo-alex{
    height:300px;
   background: url(/assets/alex.jpg) no-repeat top center scroll;
    -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   @include media($large-screen-up){
   display: none;
   } 
  }

  .bio-text{
    position: relative;
    z-index: 10;
    color: white;
    padding: 10% 5%;
    overflow: hidden;
    width: 100%;
    text-align: left;
    float: none;

    @include media($large-screen-up){
        padding-top: 0;
        width: 40%;
        padding: 10% 5%;
        background: rgba(106, 106, 106, 0.38);
        float: right;
  

    }
   

     h2{
      font-size: 1.7rem;
    }
    p{
      font-size: 1.2rem;

    }
    a{
      color: white;
    }

  
   }

}

.bio-supriya{
   width: 100%;
   position: relative;
   z-index: 0;
   background: $blue; 
   overflow: hidden;  
   float: none;

   .picture-gradient{
    display: none;

    @include media($large-screen-up){
    display: block;
    
    }
   }

@include media($large-screen-up){
   background: url(/assets/supriya-crop.jpg) no-repeat top left fixed;   
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
  }

  .mobile-photo-supriya{
    height:300px;
   background: url(/assets/supriya-crop.jpg) no-repeat top center scroll;
    -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   @include media($large-screen-up){
   display: none;
   } 
  }

  .bio-text{
    position: relative;
    z-index: 10;
    color: white;
    padding: 10% 5%;
    overflow: hidden;
    width: 100%;
    text-align: left;
    float: none;

    @include media($large-screen-up){
        padding-top: 0;
        width: 40%;
        padding: 10% 5%;
        background: rgba(106, 106, 106, 0.38);
        float: right;
  

    }
   

     h2{
      font-size: 1.7rem;
    }
    p{
      font-size: 1.2rem;

    }
    a{
      color: white;
    }

  
   }

}

.bio-michael{
   width: 100%;
   position: relative;
   z-index: 0;
   background: $blue; 
   overflow: hidden;  

   .picture-gradient{
    display: none;

    @include media($large-screen-up){
    display: block;
    }
   }

@include media($large-screen-up){
   background: url(/assets/michael.jpg) no-repeat top center fixed;   
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
  }

  .mobile-photo-michael{
    height:300px;
   background: url(/assets/michael.jpg) no-repeat top center scroll;
    -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   @include media($large-screen-up){
   display: none;
   } 
  }

  .bio-text{
    position: relative;
    z-index: 10;
    color: white;
    padding: 10% 5%;
    overflow: hidden;
    width: 100%;
    text-align: left;
    float: none;

    @include media($large-screen-up){
        padding-top: 0;
        width: 40%;
        padding: 10% 5%;
        background: rgba(106, 106, 106, 0.38);


    }
   

     h2{
      font-size: 1.7rem;
    }
    p{
      font-size: 1.2rem;

    }
    a{
      color: white;
    }

  
   }

}

.mobile-explainer{
  display: block;
  padding: 5% 0%;
  
  h3{
    font-size: 1.5em;
  }
  h3, p{
    color: gray;
    font-family: $heading-2;
  }

@include media($large-screen-up){
  display: none;
}
}

.desktop-explainer{
  display: none;
@include media($large-screen-up){
  display: block;
}
}



.inline-link{
    color: #de7575;
    font-family: $heading-2;

    &:hover, &:focus{
      text-decoration: underline;
      color: #de7575;
      cursor: pointer;
    }
  }

.growth{
  background: url(/assets/traffic-light.jpg) no-repeat bottom center scroll; 
  height: 250px;
    background-size: cover;
    padding: 0;


  @include media($large-screen-up){
    background: url(/assets/traffic-light.jpg) no-repeat bottom center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   width: 100%;
   position: relative;
   text-align: center;
   z-index: 0;
   padding: 5% 0% 5% 0;
   overflow: hidden;
   height: auto;
  }

   h1{
    color: white;
    font-size: 4em;
    text-align: left;
   }
}

.tab{
  display: none;
  
   @include media($large-screen-up){
    display: block;
  }

}