.home{
    padding-top: 100px;

    @include media($medium-screen-up){
        padding-top: 0;
    }

}

nav {
    background-color: rgba(255,255,255,0.92);
    display: block;
    width: 100%;
    height: $nav-height;
    margin: 0 auto;
    position: fixed;
    top: 0;
    z-index: 3;
    

    @include media($medium-screen-up){
        width: 80%;
        left: 10%;
        height: 120px;
    }


    .logo-wrapper{
        width:55%;
        display: inline-block;
        padding-top: 2%;
        
        @include media($medium-screen-up){
            width: 30%;
        }
        @include media($large-screen-up){ 
            width:20%;
        }

    }

    ul{
        display: inline-block;
        width: 30%;
        text-align: right;
        vertical-align: top;
        padding-top: 3%;

          @include media($medium-screen-up){
            width: 60%;
        }
        @include media($large-screen-up){ 
            width:70%;
        }

        li{
            text-transform: uppercase;
            
            font-size: 0.8em;
            padding-right: 5%;
            font-weight: bold;
            display: block;

            a{
               color: $green; 
            }

            @include media($medium-screen-up){
            font-size: 1em; 
            }
            @include media($large-screen-up){ 
                font-size: 1.2em;
                display: inline-block;            
            }
        }
    }
}

.center{
    text-align: center;
    margin: 0 auto;
    display: block;
    background-color: white;
    width: 30%;

    @include media($medium-screen-up){
       width: 20%; 
    }

}

.picture-gradient{
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.29) 0, rgba(2, 2, 2, 0.87) 100%);
    
}
.landing{

    background: url(/assets/landing.jpeg) no-repeat bottom center scroll; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   width: 100%;
   position: relative;
   text-align: center;
   z-index: 0;

@include media($medium-screen-up){
    background: url(/assets/landing.jpeg) no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

   .main {
  border: 2px solid white;
  background-color: transparent;
  z-index: 2; 
  position: relative;
  margin-bottom: 20%;
  font-size: 1em;
  text-transform: uppercase;

  @include media($medium-screen-up){
    border: 3px solid white;
    font-size: 1.5em;
  }

  &:hover,
      &:focus {
        background-color: shade($action-color, 20%);
    }

  a {
    color: white;
      &:hover,
      &:focus {
        background-color: shade($action-color, 20%);
        color: #fff;
    }
  }

}

   h1 {
    z-index: 2;
    font-family: $heading-font-family;
    font-size: 2em;
    padding-top: 40%;
    color: white;
    position: relative;

     @include media($medium-screen-up){
        padding-top: 17%;
        font-size: 3em;
        }
   }

}

.right{
  float: none;
 @include media($large-screen-up){ 
    float: right;
  }
}

.left{
 float: none;
 @include media($large-screen-up){ 
  float: left;
  }
}

.two-pane-explainer {

  .short{

    float: none;
    display: block;
    width: 100%;
    padding: 15%;
    background-color: $green;  
  
    @include media($large-screen-up){ 
    float: left;
    width: 30%;
    height: 400px;
    padding: 0;
    overflow: hidden;
  }

    .title{
      font-family: $heading-font-family;
      width: 70%;
      text-align: center;
      margin: 0 auto;
      color: white;
      font-size: 1.5em;
      text-align: center;
      text-transform: uppercase;
      vertical-align: middle;
      padding-top: 0;

      @include media($large-screen-up){ 
        padding-top: 30%;
        width: 50%;
        font-size: 2em;
        }
      }
    }

  .long{
    float: none;
    display: block;
    width: 100%;
    padding: 10%;
    background-color: $blue;
    font-size: 1em;
    
    @include media($large-screen-up){
      overflow:hidden;
      height: 400px;
      float: right;
    width: 70%;
    padding: 0;
    font-size: 1.5rem;
  }

    p{
      padding: 10%;
      color: white;
      line-height: 1.6;

       
    }
  }
}

.services {
   background: url(/assets/services.jpeg) no-repeat center center scroll;   
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   width: 100%;
   position: relative;
   text-align: center;
   z-index: 0;
   overflow: hidden;

   @include media($medium-screen-up){
    background: url(/assets/services.jpeg) no-repeat center center fixed; 
       -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   }

   h2{
    color: white;
    text-transform: uppercase;
    font-size: 2.5em;
    text-align: center;
    padding-top: 9%;
   }

  h3{
    color: white;
    font-size: 1.5em;
    font-family: $base-font-family;
    z-index: 2;
    position: relative;

  }

  p{
    color: white;
    font-size: 1.2em;
    padding-bottom: 7%;
    z-index: 2;
    position: relative;
  }

.service {

  display: block;
  width: 100%;
   padding: 5% 4%;
  text-align: center;
  z-index:2;

  @include media($large-screen-up){
  width: 29%;
  display: inline-block;
  }

  .service-icon {

    border: 2px white;
    border-radius: 50%;
    color: white;
     z-index: 2;
      position: relative;
      padding-bottom: 2%;

    .fa-users, .fa-line-chart, .fa-hashtag, .fa-building, .fa-user-plus{
      color: white;
      font-size: 40px;

    }
    }
}
}

.who-we-are{
    padding: 7%;
    overflow: hidden;

    h2{
        color: $green;
        text-align: center;
        font-size: 2.5em;
        padding-bottom: 5%;
        text-transform: uppercase;
    }
}



.get-in-touch{
     background-color: $green; 
     padding: 7%;
     overflow: hidden;
     text-align:center;
     margin: 0 auto;
    h2{
        color: white;
        text-transform: uppercase;
        font-size: 2.5em;
    }
   
}

.profile {
        width: 100%;
        padding: 3% 5%;
         @include media($large-screen-up){
            width: 49%;
            padding: 1% 5%;
         }


         h2, h3, p{
            color: $blue;
         }

         h2{
            font-size: 2em;
         }

         h3{
            text-align: center;
         }

    }