
.growth{
      background: url(/assets/traffic-light.jpg) no-repeat bottom center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   width: 100%;
   position: relative;
   text-align: center;
   z-index: 0;
   padding: 5% 0% 5% 0;
   overflow: hidden;

   h1{
    color: white;
    font-size: 4em;
    text-align: left;
   }
}

.cta{
  color: white;
  font-family: $heading-2;
  font-size: 2em;
  text-align: left;
}
.heading{
  width: 70%;
  padding: 10%;
}

.half{
  width: 49%; 
}

   .centered{
    background-color: transparent;
    background:transparent;
    margin: 0 auto;
    text-align: center;
   }

.align-right{
  text-align: right;
}

.width-container{
  margin: 0 auto;
  width: 80%;
}

.form-container{
  padding: 5% 0%;
  background: #a3a3a3;
}

.basic-title{
  font-family: $heading-2;
  font-size: 3em;
}

.white{
  color: white;
}

.form-cta{
  color: white;
  font-family: $heading-2;
  font-size: 1.2em;
}

.gray{
  color: gray;}

.padded-panel{
  padding: 5% 0%; 
}

iframe .btn.btn-submit{
  color: white;
  font-family: $heading-2;
  text-transform: uppercase;
}

.tab{
  overflow: hidden;

  h3 a{
    font-family: $heading-2;
    text-transform: uppercase;
    font-size: 1.5em;
    color: white;

    &:hover, &:focus{
      color: #eaeaea;
    }
  }
}

.growth-button{
background-color: #21d762;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    text-align: center;
    display: block;
    width: 100%;
    font-size: 1.2em;
  &:hover, &:focus{
    background-color: shade(#21d762, 15%);
  }
}

.news{
  border: 2px solid white;
  padding: 2% 1%;
  background-color: transparent;
  font-family: $heading-2;
  text-transform: uppercase;
  right: 2px;

  &:hover, &:focus{
    background-color:rgba(155, 155, 155, 0.19);
  }
}

#news{
  h3{
    font-family: $heading-2;
    font-size: 1.5em;
  } 

  p, a{
    font-family: $heading-font-family;
    color: gray;

    &:hover, &:focus{
      color: #645c5c;
    }
  }
}